# Rename this file to credentials.py (NOT credentials.py.example)
# Credentials for SQLAlchemy, change 'db-url' to actual database URL login

# Schema: "postgres+psycopg2://<USERNAME>:<PASSWORD>@<IP_ADDRESS>:<PORT>/<DATABASE_NAME>"
db_login = 'db-url'