.nav-color {
    background-color: rgb(61, 34, 4);
    font-size: 20px;
}

.nav-link{
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    color: #A36A2C !important;
}

.nav-link:hover{
    font-family: 'Roboto', sans-serif;
    color: #f1c697 !important;
}

